### Bài tập:
Hãy tạo mới bảng có tên *PRODUCT* có các cột như sau:
||**PRODUCT**||
|--|-------|--|
|**Cột**|**Kiểu dữ liệu**|**Chú thích**|
|ID|INTEGER|Khóa chính|
|NAME|TEXT|Not null|
|PRICE|INTEGER|Not null|

In [1]:
import sqlite3
import pandas as pd

In [3]:
con = sqlite3.connect('sqlite.db')
cur = con.cursor()

In [4]:
cur.execute("""
CREATE TABLE PRODUCT (
    ID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    PRICE INTEGER NOT NULL
);
""")

#### Câu 1:
Hãy thêm mới các dòng có giá trị như sau và kiểm tra kết quả:
||**PRODUCT**||
|--|-------|--|
|**ID**|**NAME**|**PRICE**|
|1|iPhone 15|18000000|
|2|Galaxy Z-Fold 5|30000000|

In [6]:
cur.execute("""
INSERT INTO PRODUCT(ID, NAME, PRICE)
VALUES
    ('1', 'iPhone 15', '18000000'),
    ('2', 'Galaxy Z-Fold 5', '30000000')
""")
con.commit()

In [7]:
data = pd.read_sql_query("SELECT * FROM PRODUCT", con)
print(data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  30000000

#### Câu 2:
Hãy cập nhật giá mới cho Galaxy Z-Fold 5 thành 50.000.000 và kiểm tra
kết quả:

In [8]:
cur.execute("""
UPDATE PRODUCT
SET PRICE = '50000000'
WHERE NAME = 'Galaxy Z-Fold 5'
""")
con.commit()

In [10]:
data = pd.read_sql_query("SELECT * FROM PRODUCT", con)
print(data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  50000000

In [11]:
cur.execute("""
DELETE FROM PRODUCT
WHERE NAME = 'iPhone 15'
""")
con.commit()

In [12]:
data = pd.read_sql_query("SELECT * FROM PRODUCT", con)
print(data)

   ID             NAME     PRICE
0   2  Galaxy Z-Fold 5  50000000